[2015-09-11 19:26] sweth opened #1 "Examples give new window option as -n when code implements as -w"

[2015-09-11 21:58] mklement0 commented on #1
Thanks for letting me know, @sweth - fixed.

[2015-09-11 21:58] #1 closed

[2016-04-22 15:28] atomless opened #2 "ttab consistently opens new windows instead of tabs"
When stringing a chain of commands together ttab consistently opens new windows instead of tabs, any idea why this would happen?

For example:
[code]

The title3 tab will be opened in a new terminal window rather than a tab.

[2016-04-22 20:10] mklement0 commented on #2
Curios. On my OS X 10.11.4 machine, when I run

     ttab -t 'title1' date  && ttab -t 'title2' date  && sleep 5 && ttab -t 'title3' date

all tabs open in the _current_ window.

What OS X version are you on?

[2016-04-23 22:37] mklement0 commented on #2
I'll close this for now, but if you want me to look at a specific command that exhibits the symptom, I'm happy to revisit.

[2016-04-23 22:37] #2 closed

[2016-05-03 21:55] ro31337 opened #3 "Support iTerm"
iTerm is quite popular among devs who work on OS X.  But `ttab` gives you error:

It would be great if iTerm can be supported.

[2016-05-04 04:57] mklement0 commented on #3
I've just released v0.3.0 with iTerm support.

It is experimental in that the automated tests only cover Terminal.app for now.

Note that `-t` for setting the title isn't supported (if you know how to make that work, do let me know).

Let me know how it goes.

[2016-05-04 04:57] #3 closed

[2016-06-02 12:38] dvinegla opened #4 "syntax error after updating to iTerm2 3.0.0"
[code]

[2016-06-03 15:15] mklement0 commented on #4
@dvinegla Thanks for letting me know. Unfortunately, https://www.iterm2.com/version3.html states (emphasis mine):

I'll take a look.

[2016-06-03 19:25] mklement0 commented on #4
@dvinegla: I've just released **v0.3.1**, which now supports iTerm2 v3.

As before, I haven't gotten around to writing automated tests - do let me know if you find problems.

[2016-06-03 19:25] #4 closed

[2016-06-14 04:48] ORESoftware opened #5 "Add support for Linux terminals"
nice work, I am writing a library and the library writes out log files and I give the user the option to tail those files. Instead of making the user find those files and then write a command four times to tail each one, my library just has a single command and without any args will open up the four windows on the behalf of the user.

however, the problems I have are:
1. these are 4 separate _Term

[2016-06-14 13:48] mklement0 commented on #5
Generally:

I'm unclear on what you mean by *nix support.

As for iTerm2 support: it is _complete_, but it isn't currently covered by automated tests; if I get bug reports about iTerm2, I will implement such tests.

Just to be clear: `ttab` is a _CLI_, not a _library_.

Specifically:

* The Ctrl+C behavior you're seeing means that `Terminal.app` is configured not to automatically close the termina

[2016-06-16 17:06] mklement0 commented on #5
@ORESoftware: We can revisit, if you have follow-up questions, but I'm closing this for now.

[2016-06-16 17:59] ORESoftware commented on #5
Sorry I didn't respond earlier - what I meant was - I was requesting support for gnome-terminal or some other terminal that is on *nix. I feel like if you support OSX terminals like Terminal.app or iTerm2, that you might as well support different terminals on MacOS as well as Linux terminals (all I know is gnome-terminal, but I am sure there are many more).

[2016-06-16 18:02] ORESoftware commented on #5
For example,  I am writing a library and I would like to use ttab as part of my library, but I need to support Windows, MacOS and *nix. Unfortunately, incorporating ttab won't be a great idea because then I need to have separate support for Windows and *nix. I am sure supporting Windows might be more of a reach, but supporting *nix would be great, otherwise I doubt I will use ttab :/

[2016-06-16 18:13] mklement0 commented on #5
It would indeed be nice to be cross-platform, but that's a huge task that I'm not willing to take on in the foreseeable future.

While `ttab` is a Bash script, it uses _AppleScript_ behind the scenes to control the Terminal.app and iTerm2, though it's currently solely OSX-based.

By *nix I assume you mean the Linux world (since you mention gnome-terminal), so I've changed the title accordingly. If

[2016-06-16 18:16] ORESoftware commented on #5
Yeah I totally understand that most of the work involved is interacting with terminal application itself as you say, no problem at all, I may use ttab anyone for OSX support.

[2016-09-10 21:33] kcampion opened #6 "Not working after electron-packager"
When I try to use ttab under my Electron project, it works under dev mode(1), but after building it with electron-packager(2) and executing the binary file, an error appears.

It works with this execution command to debug: `# electron .`
It fails with this compilation command to package the project: `# electron-packager . MyProject --platform=darwin --arch=x64 --version=1.3.5 --overwrite`

This is

[2016-09-14 01:13] mklement0 commented on #6
Thanks for letting me know, but, unfortunately, I know nothing about the electron-packager.

If you yourself can shed more light on this, please do.

I see that you're simply invoking `ttab -w`, which simply opens a new terminal window. Is that all you're doing, or is this just an example?

[2016-09-29 23:43] brandondrew opened #7 "Quoted commands fail"
Certain commands are not (AFAIK) possible with ttab, because of precedence rules.
[code]

It might seem that putting quotes around the command would fix this, passing it all to ttab as a single argument that could be unpacked before being issued to the shell, but it does not work.

Allowing the command and its arguments to be either single or double quoted (but not requiring it!) would be very hel

[2016-09-30 02:59] mklement0 commented on #7
The `man` page states (emphasis added):

--

To specify _multiple_ commands, use `eval` _followed by a single, quoted
       string_ containing the entire shell command line to execute; in the simplest
       case, enclose the string in single-quotes and use `;` to separate  com-
       mands.

--

Thus, you'd have to specify

     ttab -t 'code & git' eval 'git branch && git status'

[2016-09-30 03:06] mklement0 opened #8 "When using iTerm2, the current dir. isn't automatically inherited by the new tab."
Using Terminal.app automatically causes a new tab to inherit the calling tab's working dir.

This doesn't work in iTerm2 as of v0.4.0.

Workaround: add `-d .`

Note that the problem doesn't surface when you specify `-w` to open the tab in a _new window_, because an explicit `cd` command is issued in that event.

[2016-10-01 05:28] mklement0 commented on #7
I realized that I could make the `eval` implicit, so if you install the just-released [v0.5.0](https://github.com/mklement0/ttab/releases/tag/v0.5.0)), you can omit it:

     ttab -t 'code & git' 'git branch && git status'

In other words: you can now pass any shell command line as a _single, quoted string_ as the one and only operand (non-option)  to `ttab` to have it executed in the new tab.

No

[2016-10-01 05:28] #7 closed

[2016-10-01 05:28] mklement0 commented on #8
Fixed in [v0.5.0](https://github.com/mklement0/ttab/releases/tag/v0.5.0)

[2016-10-01 05:28] #8 closed

[2016-11-18 15:04] kcampion commented on #6
That's all I'm doing.

[2016-11-18 15:24] mklement0 commented on #6
In that case, perhaps the following will do:

    childProcess.execFile('osascript', ['-e', 'tell application "Terminal"', '-e', 'do script', '-e', 'activate', '-e', 'end tell' ], function(error, stdout, stderr) { ...

Omit `'-e', 'activate'` if you don't want to visibly activate the window.

It would still be good to know what the problem with the electron-packager is, though.

Note that your cod

[2016-11-18 15:50] kcampion commented on #6
Same problem, it works under "dev mode" before compilation but after I've this:
[code]

Note that, under the "dev mode", if I try your code without " around Terminal, I've the same error as just above :
`childProcess.execFile('osascript', ['-e', 'tell application Terminal', '-e', 'do script', '-e', 'activate', '-e', 'end tell' ], function(error, stdout, stderr) { ...`

[2016-11-18 16:09] mklement0 commented on #6
Good find. You definitely need the `"` around `Terminal` to make AppleScript itself happy, so I suspect somewhere in the process of packaging quotes may be getting stripped.

Strangely, though, in your original attempt (with tokens `ttab`, `-w`) there shouldn't have been any quoting issues, and even if the invocation is flawed, you wouldn't expect the _contents_ of the `ttab` script to get altered

[2017-05-12 16:56] boguwei opened #10 "Just running default command not working unless I select the Terminal menu bar"
When I just run `ttab`, the frontmost terminal window doesn't open a new tab until I select the Terminal menu bar with my mouse.

(FWIW, when running `ttab -w`, a new Terminal window opens just fine). Not familiar with apple script, but using the macOS script editor to manually run the generated apple script (from `--dry-run`) has the same results as above.

I have enabled Accessibility for Termin

[2017-05-12 18:42] mklement0 commented on #10
It does sound like the problem is related to the Accessibility feature - GUI scripting (simulating menu selections) is required to open a new tab, because there's no AppleScript support for that.

Unfortunately, I cannot reproduce your symptom (I'm running macOS 10.12.4 too).

* When did it start?

* Does `Console.app` show anything of interest?

* Have you tried recreating the entry for `Terminal

[2017-05-12 18:43] #6 closed

[2017-05-12 20:01] boguwei commented on #10
`tccutil reset Accessibility` seems to have done the trick! Hopefully this will stick. I'll comment back here if the behavior reverts (which would be unfortunate, since a hard reset is too painful to do very often if you have to add back all authorizations after.

It's really weird. I restarted my MBP (without having done the above yet) and `ttab` worked correctly once, and then reverted to the be

[2017-05-12 20:09] mklement0 commented on #10
My pleasure, and thanks for the detailed feedback. I'll close the issue, but we can revisit if needed.

[2017-05-12 20:09] #10 closed

[2017-05-12 20:44] boguwei commented on #10
Broke again 😞 . not sure why my accessibility settings are getting messed up. Will update with anything else interesting.

[2017-05-12 21:02] mklement0 commented on #10
Sorry to hear it. When it's broken, does `Terminal.app` _visually_ become frontmost, i.e., do the close / minimize / full-screen buttons in the top-left corner of the title bar turn _colored_?

The fact that you can click on Terminal's menu bar suggests that it _is_ frontmost.

[2017-05-12 21:31] boguwei commented on #10
Yes. The Terminal is frontmost. Almost always when I run ttab, I'm running it directly from a terminal window anyway, so there shouldn't have been a focus switch.

[2017-05-12 21:47] boguwei commented on #10
Also: executing a command with ttab (like `ttab 'git status'`) will run the command in the current Terminal window.

[2017-05-12 22:07] mklement0 commented on #10
All very mysterious.

There's not much to be found with respect to your `Console.app` findings, except possibly this: https://discussions.apple.com/thread/7705551?start=0&tstart=0

[2017-07-31 08:21] awdDev786 opened #11 "Windows and other plateform support"
I need such functionality  in my windows environment.but this isnt supporting windows or linux.giving error in installation as

     Unsupported platform for ttab@0.6.0: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

Is there any plan to add it or not?

[2017-07-31 13:11] mklement0 commented on #11
Unfortunately, I have no plans to add support for other platforms.

This would be a significant amount of work, and especially tricky on Linux platforms, where many different terminal programs exist  - see #5.

[2017-07-31 13:11] #11 closed

[2017-10-09 21:36] amissine opened #12 "License question"
Dear Mr. Klement,

Thank you very much for the **ttab** utility! It is an exceptional piece of work both implementation- and design-wise. In fact, I have just forked the whole project with the intent of using it as a template for my next one, **lint**. The **lint** project will be solely my own responsibility, but I must and very much willing to give full credit to the project of yours I am basing

[2017-10-10 02:40] mklement0 commented on #12
Hi,

Thank you for kind words. I'm glad you find my project useful and plan on building on it.
What, specifically, will lint be?

I'm OK with the license text you propose.

Best,

Michael

[2017-10-10 12:40] amissine commented on #12
Hi Michael,

Thank you for your prompt response! To start off, I misspelled the name of my project in the message, and it is **lnet**, stands for Localized Network.

My home computer is shielded from the Internet by a router, and to give external access to it I can either configure port forwarding on the router, or use SSH remote port forwarding on my computer. In the latter case, I make SSH conne

[2017-10-10 13:06] mklement0 commented on #12
Sounds cool, thanks for letting me know.

[2017-10-10 13:06] #12 closed

[2017-11-01 02:14] dgolant opened #13 "-g and -G flags still focus the new tab?"
Hi, I just started using ttab and it looks like when I pass in `ttab -G -t 'Datastore Emulator' gcloud beta emulators datastore start`, the new tab still receives focus. I've attached a gif, to clarify

![200w_d](https://user-images.githubusercontent.com/8434515/32256973-bd77aed2-be88-11e7-9a61-74daa5bf0322.gif)

it may be a little easier to follow [here](https://giphy.com/gifs/ttab-26vaxA2ZEFO4Uq

[2017-11-01 02:20] mklement0 commented on #13
Thanks for letting me know. I'll take a look.

[2017-11-08 03:34] robotdana commented on #13
I noticed this after updating to High Sierra

[2017-11-08 05:07] mklement0 commented on #13
I've just published v0.6.1, which should fix the problem.

The reason it broke is that Apple changed Terminal.app's scripting object model with respect to tabs.

[2017-11-08 07:23] robotdana commented on #13
Thanks so much :)

[2017-11-28 15:03] philippefutureboy opened #14 "Throw Incompatible OS Error Only on Use Rather than On Install"
Greetings!

I use `ttab` for development purposes on my macOS machine. I've noticed that when pushing my node js build for production on a node:carbon (linux) docker image, `ttab` causes the build to fail because `[the] platform "linux" is incompatible with this module`. Would it be possible to throw this error only when used rather than when installed ( or to support Linux #5 )?

Cheers ✨

[2017-11-28 16:05] mklement0 commented on #14
If you've correctly declared `ttab` as a development-only dependency (key `devDependencies`) in your `package.json` file, then setting `NODE_ENV` to `production` or installing with `npm install --only=production` may help - see https://stackoverflow.com/a/9276112/45375

[2017-11-28 20:46] mklement0 commented on #14
I'll close this for now, but we can revisit if my suggestion didn't help.

[2017-11-28 20:46] #14 closed

[2017-11-29 19:12] philippefutureboy commented on #14
Confirmed to work with `yarn install --production`! Thanks for the tip :)

[2018-07-24 03:22] jamesone opened #15 "iTerm2 execution error: Can’t get application "iTerm""
When trying to use `ttab` via iTerm2:

[code]

macOS: 10.12.6
Node: v8.6.0
Installed with: `npm i -g ttab`

[2018-07-24 03:34] mklement0 commented on #15
@jamesone:

What do the following commands return on your system, in order?

[code]

If these don't work, use the `About` dialog to tell me what iTerm version you're running.

Generally, the code uses `iTerm` in the embedded AppleScript code only for versions 1.x and 2.x

[2018-07-24 04:46] jamesone commented on #15
1. `0:7: execution error: Can’t get application "iTerm". (-1728)` (I uninstalled iTerm 1, I only have iTerm2)
2. `3.2.0beta6`
3. `iTerm.app`

@mklement0

[2018-07-24 05:07] jamesone commented on #15
Did you plan on adding iTerm3.x support? (in beta)

[2018-07-24 05:12] jamesone commented on #15
Confirmed: iTerm 2.x works

[2018-07-25 16:46] mklement0 commented on #15
@jamesone:

I'm actively using both `3.2.0beta8` and `3.1.7` and I don't see the problem.

Can you please update to `3.2.0beta8` and tell me if you still see the problem?

[2018-07-27 01:32] mklement0 commented on #15
While I have no specific explanation, I'm not surprised that side-by-side installation of  iTerm1 and iTerm2 causes problems due to competing OSA dictionaries, given that both version use the application name `iTerm.app`.

I suggest deleting the iTerm1 version, emptying the trash, and rebuilding the dictionaries with the following command:

[code]

[2018-07-27 02:18] jamesone commented on #15
I just did this ^ and now I get:

[code]

This is the same error as my first one

[2018-07-27 02:45] mklement0 commented on #15
Without access to your system, I'm afraid I can't diagnose this any further.

You can try the following stopgap - assuming that `osascript -e 'version of application "iTerm2"'`  works -  which you'll have to reapply every time you update `ttab`:

* Use `which ttab` to locate the `ttab` executable.

* Open it for editing and locate the following line:

[code]

* Replace it with the following:

[cod

[2018-07-27 02:45] #15 closed

[2018-07-27 02:52] jamesone commented on #15
Fixed ✅ I installed iTerm `Build 3.1.7` (i was previously on the beta)

Thanks so much for your help and time!

[2018-07-27 02:53] mklement0 commented on #15
@jamesone: My pleasure; I'm glad you found a solution.

[2018-07-30 17:22] stygiansabyss opened #16 "Issue when run after tab is closed"
I was trying to make a script that opens a tab and runs a command for the user using exec.  It works fine right after iterm2 is launched.  However, once the tab is closed (when the command ends) and I run ttab again, it just hangs forever.  I don't see anything in ps aux that would be killable as a hung up task so I'm at a loss on what it could be.

[code]

[2018-07-31 21:00] mklement0 commented on #16
Curious; without more information, I'm afraid I can't help.

Can you reproduce this with a standard utility?

Have you tried upgrading iTerm2?

[2018-08-02 13:46] mklement0 commented on #16
I'm closing this for now, but if you come up with a reproducible case, I'm happy to revisit.

[2018-08-02 13:46] #16 closed

[2018-09-17 22:59] gpanganiban opened #17 "ttab should not switch current application to "Terminal" if it is run in the background"
- Install ttab
- Enter this script in Terminal:
`sleep 10; ttab -G top &`
- Immediatly switch to a different app
- wait 10 seconds

While using different app, The ttab process will briefly steal focus and become the frontmost terminal for a moment then return to the other app.

[2018-11-02 08:44] prescottprue opened #18 "feature: option to open new tab that is horizontally split"
The script you provided in [this stack overflow post](https://stackoverflow.com/questions/38692346/new-tab-in-iterm2) showed opening a split tab, which would be a great feature for ttab. I saw you mention it isn't a feature yet - does that mean there is already a plan to make it a feature?

Thanks for making this amazing tool

[2018-11-06 17:14] ChariseWalraven opened #19 "Install fails on linux"
Hi there,

I know this is a module for mac, but could you please not throw an exception on installation when the OS is not a Mac?

Whenever I try to install my dependencies, I cannot complete the installation, because it throws me an error in the process of installing because I'm not on a mac and then exits the installation.

I am definitely sure this is ttab, because it works fine when i remove t

[2018-11-06 20:58] mklement0 commented on #19
`ttab`'s `package.json` file by design indicates that the package is only supported on macOS:

https://github.com/mklement0/ttab/blob/a2f01f1c048c62cb6b28ad8085fc222f2659311e/package.json#L6-L8

I'm not familar with `yarn`, but it sounds like if you reference `ttab` from your project's _optional_ dependencies (`"optionalDependencies"`) - just as `fsevents` appears to be declared as in yoru screen

[2018-11-06 20:58] #19 closed

[2019-07-22 23:03] ajmwagar opened #20 "Launch iTerm2/Terminal if instance is not already open"
It would be great if `ttab` would automatically start an iTerm2 instance if it didn't already exist.

[2019-07-22 23:10] ajmwagar commented on #20
Nevermind, it was an issue on my part.

`ttab` wasn't executing because of my hotkey daemon not being run.

[2019-07-22 23:10] #20 closed

[2019-09-16 17:02] rblalock opened #21 "Doesn't work with latest iTerm2"
The tabs open but doesn't run thecommand

[2019-09-21 13:14] wahello opened #22 "How to Close the Opened tab or Window?"
It will get closer to perfect if ttab has function to close the opened tab/window.

[2019-09-21 15:40] mklement0 commented on #22
@wahello: `exit` normally not just exits the process, but also closes the window / tab.

Are you thinking of scenarios where exiting the process (shell) _doesn't_ close the window / tab?

If so, can you elaborate?

[2019-09-21 15:45] mklement0 commented on #21
@rblalock:

I just tried with the current stable version, 3.3.4, and I don't see a problem; the following work fine for me:

[code]

What version are you using? A test release? Are you aware of upcoming breaking changes to the AppleScript API?

[2019-09-21 15:57] mklement0 commented on #17
@gpanganiban: Sorry it took me so long to respond.

While I fully agree that `ttab` _shouldn't_ do that, it is currently unavoidable for technical reasons; from `man ttab`:

the new tab will still activate briefly, temporarily in most scenarios.

I haven't looked in a while, but if you know of a technical solution that avoids the problem, let me know.

[2019-09-21 15:57] #17 closed

[2019-09-23 19:17] #21 closed

[2019-09-23 20:50] rblalock commented on #21
Sorry, I just tried again.  It doesn't work with the latest beta...so that's the issue.  Hopefully it's something they just broke on their side, with apple script.

[2019-09-23 21:01] mklement0 commented on #21
Thanks for following up. I sure hope that they won't break the AppleScript API, but do let me know if you hear anything.

[2019-11-25 13:30] jirikrepl opened #23 "ttab 0.6.1 no longer sets title to iTerm 3.3.7"
Hello,

before I was able to set iTerm2 title with -t switch but it at some point stopped working.
I am not sure if after iTerm2 or ttab update.

now if I do `ttab -t abc` a new tab title says bash

[2019-11-25 13:50] mklement0 commented on #23
Hmm... I just updated to 3.3.7, and it still works for me with the latest ttab (v0.6.1), and I can't find anything in iTerm's settings that would prevent it (you can only prevent setting the window title via ANSI escape codes).

Any idea what's special about your configuration? Does it happen with all profiles?

[2019-12-22 15:44] singingwolfboy opened #24 "Create Homebrew tap"
Thanks for this project, @mklement0! However, I find it a bit annoying that I have to use npm to install it, when it's just a simple bash script. Have you considered putting it into [Homebrew](https://brew.sh/), as well?

[I made a pull request to add this project to Homebrew](https://github.com/Homebrew/homebrew-core/pull/48118), but one of the maintainers suggested that this project isn't popula

[2019-12-22 18:56] mklement0 commented on #23
I'm closing this for now - if you have a reproducible case, we can revisit.

[2019-12-22 18:56] #23 closed

[2019-12-23 14:04] mklement0 commented on #24
Good idea, @singingwolfboy.

Bummer that they won't accept it into homebrew-core.

I've added a simplified version of your formula and updated the read-me: please see https://github.com/mklement0/ttab#installation-via-homebrew

Note that a custom tap would really only make sense for a repo with _multiple_ formulae, so the instructions simply use the raw URL to the `*.rb` file.

Thanks!

[2019-12-23 14:04] #24 closed

[2020-02-11 10:52] abdul-rehman opened #25 "Add Support for a function within the script file."

[2020-02-11 12:23] mklement0 commented on #25
Can you explain what you're proposing?

[2020-03-01 22:50] #25 closed

[2020-04-16 19:07] mklement0 commented on #5
Thanks to work by @ksvirsky in #26, (limited) support for Gnome Terminal seems to be within reach.

[2020-06-17 07:42] francis-lookback commented on #23
I had the same issue in iTerm2 after upgrading to 3.3.11.

I found a fix by editing Preferences -> Profiles -> General -> Title = "Session Name":

<img width="914" alt="Screenshot 2020-06-17 09 41 04" src="https://user-images.githubusercontent.com/30257562/84869844-dbe7f080-b07e-11ea-81ed-9b5b85930e12.png">

I hope that's helpful to someone!

[2020-06-17 12:48] mklement0 commented on #23
Thank you solving this mystery, @francis-lookback. I've added a note to the read-me file that links to your comment.

[2020-06-18 09:05] francis-lookback commented on #23
No worries! I guess iTerm2 just changed their default config between versions.

[2020-08-24 20:28] mklement0 commented on #5
v7.0 has been released with Gnome Terminal support - https://www.npmjs.com/package/ttab; see the [manual](https://github.com/mklement0/ttab/blob/master/doc/ttab.md) for details.

Since adding support for additional terminal emulators on Linux is unrealistic, I'm closing this.

[2020-08-24 20:28] #5 closed

[2020-08-24 20:43] mklement0 commented on #22
In case you meant instructing `ttab` to automatically close the new tab after a given command has finished:

For a _single_ command, prepend `exec`; e.g.:

[code]

For a multi-command command line; append `; exit`; e.g.:

[code]

[2020-08-24 20:43] #22 closed

[2020-12-07 13:35] tbrodbeck opened #28 "Feature Suggestion: Config file"
Would be great if you could define your preferences (like iTerm2) in a config file if one exists. For example `~/.ttabrc`

[2020-12-07 13:39] mklement0 commented on #28
Which preferences (options), specifically, do you see as useful for presetting via such a file?

[2021-03-26 09:20] lalilaloe commented on #11
I creatief a small package tot accommodate for Windows Terminal. The api of wt.exe is still under development but you can check if out at: [https://github.com/lalilaloe/wttab](https://github.com/lalilaloe/wttab)

[2021-03-26 13:02] mklement0 commented on #11
That's neat, @lalilaloe - I've updated the README to point to your project.

I noticed that your README states "Linux" with respect to `ttab`, but please note that it was primarily created for *macOS*, where it offers the most functionality; Linux support - for the GNOME terminal only - came later, and has limitations.

[2021-04-02 23:23] LoganBresnahan commented on #13
I believe this is an issue again. Using the Terminal application, `-G` does not stop the new tab from coming into focus for me.
Terminal Version, 2.11 (440)

[2021-04-03 21:31] mklement0 commented on #13
Thanks for letting me know, @LoganBresnahan - it seems to be a problem only in `Terminal.app`, not `iTerm2.app` - the problem is specific to the `Terminal.app` version that comes with Big Sur - things work fine on Catalina.

I'll take a look.

[2021-04-04 16:19] LoganBresnahan commented on #13
Thanks a lot for taking a look, and thanks so much for your work on ttab! I really appreciate it :+1:

[2021-04-06 14:46] #13 closed

[2021-04-06 15:29] mklement0 commented on #13
This should be fixed in the just-released v0.7.1, @LoganBresnahan; and thanks for the nice feedback.

[2021-04-10 21:12] mklement0 commented on #28
@tbrodbeck, I'm closing this for now due to lack of feedback, but I'm happy to discuss the rationale with further input.

[2021-04-10 21:12] #28 closed

[2021-08-26 09:32] tjmgregory opened #36 "feature: Support for tmux"
Would love for this to support [tmux](https://github.com/tmux/tmux/wiki), which currently I use with Alacritty. Happy to be assigned this, to act as a reminder for me to get this done.

[2021-09-08 09:52] jadch commented on #18
+1 for this suggestion, and thanks for developing ttab ! 😄

[2021-10-26 11:12] emiliohell opened #37 "bug? ttab not working when iTerm2 is excluded from Dock"
My iTerm2 settings had it excluded from the Dock (Appearance/General/Exclude from Dock and Tab Application Switcher)

This created an issue, that the ttab stopped working correctly, essentially nothing happened when you tried to use a command except for --help.

Removing the setting solves the issue.

[2021-10-26 20:55] #37 closed, assigned to nobody

[2021-11-04 02:51] utiq opened #38 "Fluent terminal integration"
Do you have plans to make this work with https://github.com/felixse/FluentTerminal?

[2021-11-05 12:46] mklement0 commented on #38
Thanks for the suggestion, @utiq, but `ttab` is implemented as a `bash` shell script, so it won't work natively on Windows.

Perhaps you can ask the maintainers of the Windows-focused https://github.com/lalilaloe/wttab project.

[2021-11-05 12:46] #38 closed

[2021-11-05 14:05] utiq commented on #38
I'm using [WSL 2](https://docs.microsoft.com/en-us/windows/wsl/about) running an Ubuntu 20.04, still not possible?

[2021-11-05 14:33] mklement0 commented on #38
It's possible (but would obviously be limited to an optional `bash` environment, such as WSL), but would require building  on FluentTerminal's own CLI, which at least at the moment seems quite limited: https://github.com/felixse/FluentTerminal/wiki/Command-Line-Arguments

I using this CLI directly not an option for you?

Or are you looking to use `ttab` as a unified utility across multiple platfor

[2021-11-19 12:32] markclaxton opened #39 "No longer working in iTerm2"
I'm using iTerm2 version 3.4.12.

When I run my script the parameters of the script are changed during the process.

<img width="1259" alt="Screenshot 2021-11-19 at 12 26 59" src="https://user-images.githubusercontent.com/68010893/142623067-08ca98db-497e-4e01-bf0e-7a150be56d58.png">

Above is the image of the current output. The task is supposed to run a 'npm run serve' command. However, the direc

[2021-11-19 14:24] mklement0 commented on #39
I'm running the same version, and I don't see this symptom.

That the command shows up multiple times and prints what look like ANSI escape sequences verbatim is definitely strange.

Is there something usual about your environment? Do you have software installed that hooks into your terminals, such as [Fig](https://fig.io/)?

[2021-11-21 20:53] markclaxton commented on #39
I am indeed using Fig. Although I can run the same commands in the standard macOS Terminal app without issue, and with this is with Fig enabled.

[2021-11-22 09:44] markclaxton commented on #39
Ok, so I booted up my mac this morning, tried running the scripts again and ... it is working but with some differences in the output.
<img width="1422" alt="Screenshot 2021-11-22 at 09 41 21" src="https://user-images.githubusercontent.com/68010893/142838674-6f02993b-5de4-4e83-b4ff-a88693d6b493.png">

[2021-11-22 15:11] mklement0 commented on #39
I think that `ttab` is neither to blame here, nor do I think it can work around the issue.

It simply synthesizes an AppleScript behind the scenes and executes that.

You can make that script visible if you place the (undocumented) `--print-script` option first on the command line. To print the script _only_, without actually creating a new tab, use `--dry-run`.

I've just installed the latest Fig

[2021-12-01 17:46] tjmgregory commented on #36
It appears I missed your reply, apologies! Tmux is a terminal multiplexer (allows you to have multiple panes in one window) and ultimately it would be super if this could open up multiple panes in `tmux`, much like windows/tabs in iTerm :)

[2022-01-07 19:00] eden-omb opened #40 "Specify whether or not to keep tab open after command ends"
In my experiments, when I Ctrl+C out of long-running commands, it sometimes leaves the tab open, and closes it other times, apparently depending on the program. I'm not sure what's the intended default here, but this seems like behavior I'd want to set per tab anyway. Any way to add a flag for this?

[2022-01-08 02:41] mklement0 commented on #40
@eden-omb, to quote from the [manual](https://github.com/mklement0/ttab/blob/master/doc/ttab.md):

terminates. If the tab's settings are configured to close tabs on termination
of the shell, the tab will close automatically.

That is, by default a given command executes in a session of the user's default shell that _stays open_ after the given command terminates. Terminating that command premature

[2022-01-08 02:41] #40 closed

[2022-01-25 04:51] scheinercc commented on #23
Does this still work for you?

[2022-01-25 21:13] mklement0 commented on #23
It still works for me in iTerm2 v3.4.14 and ttab v0.7.2 - and, in fact, it now even works if `Session Name` is _not_ checked.

[2022-02-01 23:14] rublev commented on #23
3.14.12 cant get it working: `0:7: execution error: Can’t get application "iTerm". (-1728)`

[2022-02-01 23:21] mklement0 commented on #23
@rublev, that sounds like a more fundamental problem. Unless your problem is specific to use of the `-t` option - in which case you'll need to provide more information - please open a _new_ issue, with sufficient information to diagnose the problem.

[2022-02-01 23:29] mklement0 commented on #23
Also, @rublev: it's generally also worth upgrading to the latest iTerm version first.

[2022-07-06 02:27] Nauxscript commented on #36
I have the same qutions，would you support some other terminal application like [Warp](https://www.warp.dev/)?

[2022-07-07 20:05] mklement0 commented on #36
@Nauxscript, can you please open a _new_ issue, specifically for Warp?

If you can, please add information about its CLI, which will give me a sense of whether adding support is worth contemplating.

[2022-07-07 20:31] mklement0 commented on #36
@tjmgregory, I missed the [Alacritty](https://alacritty.org/) angle:

I'm assuming you are looking for a `ttab tmux ...` command to open in another _Alacritty_ tab, right?

That would require adding support for Alacritty, and, similarly, a look at its CLI would be required to assess the potential for adding support.

[2022-07-10 10:02] tjmgregory commented on #36
Hiya @mklement0 - thanks for getting back to me. That's right. The use case we had at work was we had `ttab` used in some of our system setup scripts, which I wouldn't have an easy time of changing to support Alacritty 👍 Don't feel an urgency to add on my behalf now though, as the infra team moved our setup to use [Tilt](https://tilt.dev/) so little gets spun up on our local machines these days. B

[2022-08-09 20:19] barankyle commented on #40
What if one specifically does not want the tab to close on CTRL+C?

I'm trying to write a script that makes starting my day a bit simpler. It will open several tabs, one for each microservice in my platform, and start each one via its npm script. I want the tabs to stay open if I CTRL+C out of them, so that I can close and restart them when code changes without having to make a new tab.

If I open

[2022-08-10 22:03] mklement0 opened #43 "In Gnome Terminal, pressing Ctrl-C while a startup command is running doesn't keep the session open."
As reported by @barankyle [here](https://github.com/mklement0/ttab/issues/40#issuecomment-1209833065):

The design intent of `ttab` is to run commands specified on the command line in an instance of the user's default shell.

This means that you should be able to abort such startup commands by  pressing <kbd>Ctrl-C</kbd>, without terminating the shell session as a whole.

While this works as inten

[2022-08-10 22:03] mklement0 commented on #40
@barankyle, please see #43

[2022-08-11 17:57] barankyle commented on #40
Thanks for tracking this in an issue.

[2022-08-11 20:50] #43 closed

[2022-08-11 21:31] mklement0 commented on #40
@barankyle, thanks for pointing out the problem to begin with. Fixed in v0.7.3, available via `npm` (the Homebrew version hasn't been updated, because the problem doesn't affect the macOS terminals).

[2022-08-12 01:27] barankyle commented on #40
Worked for me after the update, thank you for making this change so quickly.

[2022-08-12 02:05] #36 closed

[2022-08-15 19:29] barankyle opened #44 "Re-apply tab title when shell is re-executed"
This is admittedly a minor cosmetic issue, but hopefully it's a simple change.

When gnome-terminal is in use, and the change that was added last week to re-execute $SHELL when the running process closes is triggered, the new shell doesn't have the title that was applied to the original tab. It would be nice if the title could be re-applied.

[2022-08-18 21:34] mklement0 commented on #44
I'll look into it. It would have to be done via ANSI escape sequences.

[2022-08-29 22:22] lc-eu2cloud opened #45 "ttab command opens new tab but no command prompt (Mac)"
Hi,

I apologize if this has already been resolved. I can use ttab just fine. The only thing that bothers me is that I have to use Ctrl-C to return to the command prompt after I open tab in current window. Otherwise, it just hangs.

Thanks for all the effort put into this. It's much appreciated :)

[2022-08-29 22:26] mklement0 commented on #45
Thank you for the nice feedback, @lc-eu2cloud.

Can you provide more details about your problem? What OS and specific version? Can you provide a sample command that exhibits the problem?

[2022-08-29 22:33] lc-eu2cloud commented on #45
Sure thanks for the prompt reply!
Mac OS Mojave Version 10.14.6
I simply run "ttab"
It opens a new tab in same window, but doesn't return to the command prompt so that I can enter commands. I hope that description helps

[2022-08-30 03:01] mklement0 commented on #45
Unfortunately, the oldest macOS version I have access to is 10.15 (Catalina),
and I don't see the problem there, neither in Terminal.app nor in iTerm2 3.4.16.

Which terminal application are you using and is there something unusual about your configuration?

[2022-08-30 04:23] lc-eu2cloud commented on #45
I think I figured out the problem. I had uninstalled a version of node.js via homebrew, but didn’t remove it from my bash profile. Thus it got hung up on trying to read from the location where I installed node.js.

I will reinstall ttab tomorrow & see if it works. It’s also possible my macOS mojave version is not compatible with latest node.js & npm.

I appreciate you getting back to me & will kee

[2022-08-31 13:33] lc-eu2cloud commented on #45
Great news! I reinstalled ttab via npm registry & it works just fine now. I apologize for assuming the issue had to do with ttab before thoroughly checking my own settings.

[2022-08-31 13:58] mklement0 commented on #45
No worries - glad to hear it's resolved.

[2022-08-31 13:58] #45 closed

[2022-09-16 05:19] NaveenkumarMD opened #46 "The platform "win32" is incompatible with this module."
Platform: Windows 11
node version:16

Error:
![image](https://user-images.githubusercontent.com/72449129/190562007-92b12957-073a-457a-8df9-9bdf8902615b.png)

System configuration:
![image](https://user-images.githubusercontent.com/72449129/190562120-1fe7db8b-dd29-4319-b31f-f00b8cda2b02.png)

[2022-09-16 06:29] mklement0 commented on #46
This is the standard error message telling you that your platform - Windows - is incompatible with `ttab`.

`ttab` is supported only on macOS and Linux, and only with specific terminal emulators.

To quote from the read-me file:

[2022-09-16 06:29] #46 closed

[2022-09-27 18:50] stx opened #47 "Not working in macOS Ventura"
Quite frequently, in the macOS Ventura beta, `ttab <command>` will result in the command being run in the current window, and a new, empty tab being opened. Happens about half the time.

[2022-09-27 21:34] mklement0 commented on #47
Sorry to hear it. Is this in Terminal.app or iTerm2.app, or both?

[2022-09-27 21:35] stx commented on #47
Terminal.app

[2022-09-27 22:05] mklement0 commented on #47
I don't have the beta, so I can't look into this. If you have further info to share, please do. Generally, note that AppleScript, which `ttab` relies on, is getting less and less love as time goes on.

[2022-11-30 20:07] JamesCouncilTN commented on #47
I am experiencing the issue only when I attempt to apply a profile with my window (i.e. -s Homebrew).  When I attempt to do that, it will open a new window in that profile, but return to the current window and perform the command.  This worked flawlessly until I just updated my Mac to Ventura.

I love the tool by the way.

[2022-11-30 20:34] JamesCouncilTN commented on #47
I just verified, thanks to your comments above, that iTerm2 does not suffer from the problem that I am facing in Terminal.

[2022-11-30 21:25] mklement0 commented on #47
Thanks for the nice feedback, @JamesCouncilTN.

I have Ventura now and do see the problem, and only in Terminal.app, as you state:

To elaborate on @stx' finding, it seems that the various options (`-t`, working dir, startup command) are applied to the _calling_ tab, not the newly created one.

Very odd. I do hope that they didn't break AppleScript support fundamentally; I have yet to take a close